div {
    transition: background-color 300ms;
}

div::after {
    background-color: rgba(rgb(246, 33, 33), green, blue, alpha);
}

button{
    animation: float 2000ms infinite alternate-reverse;
    transition: all 300ms;
}


button:hover {
    background-color: black;
    color: white;
}

@keyframes float {
    0% {
        transform: translatey(0);
    }
    100%{
        transform: translatey(10px);
    }
}